<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>LOGIN</title>
<link rel="stylesheet" href="/css/style1.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js">
</script>
</head>
<body>
	<div class="container">
		<div class="welcome">
			<div class="pinkbox">
				<!-- 注册 -->
				<div class="signup nodisplay">
					<h1>Register</h1>
					<form autocomplete="off" action="/enroll" method="post">
						<input type="text" placeholder="用户id" name="id">
						<input  type="text" placeholder="手机号" name = "phone" >
						<input type="password" placeholder="密码" id = "pwd" name="passwd">
						<input type="password" placeholder="确认密码" id = "repwd">
						<div class="checkbox">
							<input type="radio" name="role" value="c" required>
							<label for="c">客户</label>
							<input type="radio" name="role" value="b" required>
							<label for="b">商家</label>
						</div>
						<input type="submit" class="button submit" value="创 建">
					</form>
				</div>

				<!-- 登录 -->
				<div class="signin">
					<h1>Sign In</h1>
					<form class="more-padding" autocomplete="off" action="/login" method="post">
						<input type="text" placeholder="用户id " id = "user_id" name="user_id">
						<input type="password" placeholder="密码" id = "password" name="password">
						<div class="checkbox">
							<input type="radio" name="role" value="c" id="c" required>
							<label for="c">客户</label>
							<input type="radio" name="role" value="b" id="b" required>
							<label for="b">商家</label>
						</div>
						<input type="submit" class="button submit" value="登 录">
					</form>
				</div>
			</div>

			<div class="leftbox">
				<h2 class="title">
					<span>BLOOM</span>&<br>BOUQUET
				</h2>
				<p class="desc">
					Pick your perfect <span>bouquet</span>
				</p>
				<img class="flower smaller"
					src="https://hbimg.huabanimg.com/c09305167a883e60179a45374df73252304001359acca-W3qbYm_fw658/format/webp" />
				<p class="account">有账号了？</p>
				<button class="button" id="signin">登录</button>
			</div>

			<div class="rightbox">
				<h2 class="title">
					<span>BLOOM</span>&<br>BOUQUET
				</h2>
				<p class="desc">
					Pick your perfect <span>bouquet</span>
				</p>
				<img class="flower"
					src="https://hbimg.huabanimg.com/b28be92c8198975a74ad656eba00b352c9b9e589819af-lDXUAS_fw658/format/webp" />
				<p class="account">没有账号?</p>
				<button class="button" id="signup">注册</button>
			</div>
		</div>
	</div>

	<!-- partial -->
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
	<script src="js/script1.js"></script>
</body>
<script>
		
		
// 		document.getElementById("check").onclick =
			function aaa(){

			var phone = document.getElementById("phone").value;
			var pwd=document.getElementById("pwd").value;
			var repwd=document.getElementById("repwd").value;
			var pReg = /^1[3-9]\d{9}$/;
			var reg=/^[a-zA-Z0-9]{4,12}$/;
			var reg1=/^\d{4,12}$/;
			var Selected=document.getElementById("remember").checked;
			if(!pReg.test(phone)){
				alert("手机号格式不正确");
			}else if(!reg.test(pwd)){
				alert("密码格式不正确");
			}else if(pwd != repwd){
				alert("两次输入的密码不一致");
			}else if(Selected == true){
				alert("欢迎一位新商家加入我们！")
				window.location.href="Home2.html";
			}else{
				alert("欢迎一位新用户加入我们！")
				window.location.href="Home2.html";
			}
			}
		
			function bbb(){

				
				var pwd=document.getElementById("pwd2").value;
				var username=document.getElementById("username").value;
			
				var reg=/^[a-zA-Z0-9]{4,12}$/;
		
				var Selected=document.getElementById("remember2").checked;
				if(Selected == true){
					alert("欢迎商家" + username +"登錄")
					window.location.href="Home2.html";
				}else{
					alert("欢迎用户" +username +  "登錄")
					window.location.href="Home2.html";
				}
				}
</script>
</html>